html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
/* --------------- */
#tdrmainbox{
    display: flex;
	font-family: sans-serif;
    font-size:14px;
}
#tdrmainbox > div{
    width: 50%;
}
h1{
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}
h2{
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 1em;
}
.consignes p {
    padding: 0.5em;
    font-size: 1.1em;
    line-height: 1.3em;
}
code{
    font-family: monospace;
    font-style: italic;
    background: #ccc;
}
li{
    margin-bottom: 0.25em;
    margin-left: 1em;
    list-style: square;
}





.tdr {
	width: 35em;
	background: #EAEAEA;
	padding: 0.5em;
	margin: 2em;
	box-shadow: 0.35em 0.35em 1.5em rgba(0,0,0,0.4);
	border-radius: 0.3em;
}
.tdrtitle {
	text-align: center;
	margin-bottom: 0.5em;
	font-size: 0.9em;
	font-weight: bold;
}
.tdrunit {
	display: flex;
	align-items: center;
	font-size: 0.9em;
	background: #C3C3C3;
	padding: 0.25em;
	margin-bottom: 1em;
    justify-content: center;
}
.tdrunit div:first-child {
	text-align: center;
	font-weight: bold;
	margin-bottom: 0.25em;
	margin-right: auto;
}
.tdrunitbox{
    text-align: center;
}
.tdrbox {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.tdr input {
	display: block;
	width: 6em;
	padding: 0.25em;
	font-family: monospace;
	color: #333;
	border: 0.1em solid #bebebe;
	font-size: 1.2em;
	border-radius: 0.15em;
	text-align: right;
}
.btn {
	background: #8DADB7;
	padding: 0.5em;
	font-size: 0.9em;
	color: #fff;
	border-radius: 0.2em;
	cursor: pointer;
	border-bottom: 0.1em solid #3c777d;
	border-right: 0.1em solid #3c777d;
}
.btn:hover{
    background: #c6dee6;
}
.btn:active{
    background: #4d656d;
}
.tdrval {
	background: #fff;
	width: 5em;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #507c66;
	font-weight: bold;
	font-size: 1.2em;
}
